<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Helper.Properties.Settings>
            <setting name="SplitPosition" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>597, 458</value>
            </setting>
            <setting name="Config" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>40</string>
                        <string>all </string>
                        <string>Режимы:view,allreadyview,all</string>
                        <string>30</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SiteInfo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>online.anidub.[=_=]&lt;title&gt;[=_=]&lt;/title&gt;[=_=] [[=_=] из [=_=]"image_src" href="[=_=]"</string>
                        <string>animevost.org[=_=] / [=_=][[=_=][1-[=_=] из [=_=]"imgRadius" src="[=_=]"</string>
                        <string>www.lostfilm.tv[=_=] ([=_=])[=_=]&lt;td class="t_episode_num" rowspan="2"&gt;[=_=]&lt;[=_=]	&lt;img src="[=_=]"</string>
                        <string>vk.com/videos[=_=]&lt;title&gt;[=_=] | [=_=]class="summary fl_l"&gt;[=_=] [=_=] style="background-image: url('[=_=]')"</string>
                        <string>amvnews.ru[=_=]&lt;title&gt;[=_=]&lt;/title&gt;[=_=]in=view&amp;amp;id=[=_=]&lt;/link&gt;[=_=]align=&amp;quot;center&amp;quot;&amp;gt;&amp;lt;img src=&amp;quot;[=_=]&amp;quot</string>
                        <string>newstudio.tv[=_=]  class="active"&gt;[=_=]&lt;/a&gt;[=_=]РЎРµСЂРёСЏ[=_=])[=_=]class="postImg" title="[=_=]"</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Style" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>//Font(Name,Size)</string>
                        <string>Microsoft Sans Serif</string>
                        <string>8,25</string>
                        <string>//Color(Указываеться три цвета, цвет фона, цвет компонентов, цвет шрифта, указываеть в виде RGB: 192, 0, 0; 255, 255, 255)</string>
                        <string>246, 245, 240</string>
                        <string>239, 226, 207</string>
                        <string>115, 99, 86</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Helper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Helper.Properties.Settings>
            <setting name="ButtonsName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Helper</string>
                        <string>Смотреть</string>
                        <string>Добавить</string>
                        <string>Удалить</string>
                        <string>Редактировать</string>
                        <string>Название</string>
                        <string>Ссылку</string>
                        <string>Сейчас</string>
                        <string>Всего</string>
                        <string>Оценка</string>
                        <string>Ок</string>
                        <string>Отмена</string>
                        <string>Смена названия</string>
                        <string>Введите новое название</string>
                        <string>Не корректные данные</string>
                        <string>Смена ссылки</string>
                        <string>Введите новую ссылку</string>
                        <string>Сохранить</string>
                        <string>Применить</string>
                        <string>Отмена</string>
                        <string>Цвет</string>
                        <string>Шрифт</string>
                        <string>Добавление нового стиля</string>
                        <string>Введите название</string>
                        <string>Свой стиль..</string>
                        <string>Другие шрифты</string>
                        <string>Дизайн</string>
                        <string>Обновить</string>
                        <string>Скопировать название</string>
                        <string>Доп. Инфо.</string>
                        <string>Авто. Обнов.</string>
                        <string>Элемент</string>
                        <string>Сайт</string>
                        <string>Добавление</string>
                        <string>Введите ссылку на нужную  страницу</string>
                        <string>Сайта нет в базе данных</string>
                        <string>Закачка дополнительной утилиты</string>
                        <string>Картинку</string>
                        <string>Из ссылки</string>
                        <string>Из файла</string>
                        <string>Сохранить резервную копию?</string>
                        <string>Загрузить резервную копию</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Helper.Properties.Settings>
    </applicationSettings>
</configuration>
